br {
	user-select: none;
}

.mainContainer {
	display: flex;
	background-color: transparent;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: -1;
}

.resultContainer,
.historyItem {
	flex-direction: row;
	display: flex;
	width: 400px;
	align-items: center;
	justify-content: space-between;
}

.historyContainer {
	flex-direction: column;
	display: flex;
	height: 200px;
	align-items: center;
	flex-grow: 5;
	justify-content: flex-start;
}

.forgot-password {
	font-size: calc(20px * 0.875);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: rgba(0, 255, 255, 0.74);
	text-align: center;
	user-select: none;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 0, 139, 0.788);
	border-radius: 8px;
	width: 30vw;
	height: calc(30px * 0.875);
	max-width: 250px;
	max-height: 115px;
	margin-top: 8px;
	align-self: flex-end;
	background-color: rgba(0, 110, 255, 0.575);
}
@media only screen and (max-width: 640px) and (min-height: 106.67px) {
	.forgot-password {
		height: calc(55px * 0.875);
	}
}
@media only screen and (max-width: 320px) and (min-height: 210.67px) {
	.forgot-password {
		height: calc(75px * 0.875);
		font-size: calc(20px * 0.875);
	}
}
@media only screen and (max-width: 240px) and (min-height: 160px) {
	.forgot-password {
		font-size: calc(15px * 0.875);
	}
}
@media only screen and (max-width: 200px) and (min-height: 120px) {
	.forgot-password {
		font-size: calc(13px * 0.875);
	}
}

.forgot-password:hover {
	transition: 0.1s;
	cursor: pointer;
	filter: brightness(120%);
}

.forgot-password:active {
	transition: 0s;
	cursor: pointer;
	filter: brightness(90%);
}
